/* style da tela 1 *

/* style tela 1 Nissan */
/* .telaNissan {
  display: flex;
  flex-direction: column;
}
.logoNissan {
  width: 100px;
  height: 100px;
}
.topo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 350px;
  font-size: 40px;
}
.textVermelho {
  color: red;
}
.imagensButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: (20px, 200px);
}
.imgNissan {
  width: 400px;
  height: 450px;
}
.imgNissan:hover {
  width: 450px;
  height: 500px;
}
.alinhar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Acessar {
  background-color: black;
  color: white;
  border-radius: 25px;
  position: absolute;
  transform: translate(10px, 270px);
}
.Acessar:hover {
  background-color: white;
  color: black;
  border: 5px solid black;
} */
/* style tela Fiat */
/* .telaFiat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logoImage {
  padding-right: 200px;
}
.logoFiat {
  width: 150px;
  height: 70px;
  border: 2px solid red;
}
.menuFiat {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.buttonsFiat {
  width: 333px;
  height: 70px;
  background-color: white;
}
.buttonsFiat:hover {
  border: 2px solid red;
  font-size: 15px;
}
.principalFiat {
  padding-top: 30px;
  width: 100%;
  height: 100%;
}
.imagensFiat {
  display: grid;
  padding-top: 30px;
  grid-template-rows: 350px 350px 350px;
  grid-template-columns: 350px 350px 350px;
}

.imgFiat {
  width: 300px;
  height: 300px;
} */

/* style tela toyota */

/* .principalToyota {
  width: 1000px;
  height: 600px;
}
.hidden {
  display: block;
} */
.telaFiat {
  background-image: url(./imagens/imagensFiat/fiatPrincipal.png);
  background-size: 100%;
}
.topo {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.lista {
  padding-left: 30px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  opacity: 100%;
}
button {
  font-size: 80px;
  width: 170px;
  height: 60px;
  font-size: 20px;
  background: none;
  border: none;
}
button:hover {
  border: 2px solid blue;
  font-size: 25px;
  color: black;
}
.carro1 {
  background-image: url(./imagens/imagensFiat/carro1.jpg);
  background-size: 100%;
  display: none;
}

.carro2 {
  background-image: url(./imagens/imagensFiat/carro2.jpg);
  background-size: 100%;
  display: none;
}
.carro3 {
  background-image: url(./imagens/imagensFiat/carro3.jpg);
  background-size: 100%;
  display: none;
}
.carro4 {
  background-image: url(./imagens/imagensFiat/carro4.jpg);
  background-size: 100%;
  display: none;
}
.carro5 {
  background-image: url(./imagens/imagensFiat/carro5.png);
  background-size: 100%;
  display: none;
}
.carro6 {
  background-image: url(./imagens/imagensFiat/carro6.jpg);
  background-size: 100%;
  display: none;
}
p {
  padding-left: 70px;
  font-size: 15px;
  font-style: italic;
  color: black;
}

h1 {
  padding-left: 70px;
  color: blue;
}
